<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MongoDb" class="com.weki.loggingrestapi.controller.MongoDbAppender"/>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="MongoDb"/>
    </root>

    <logger level="debug" name="com.weki.loggingrestapi">
        <appender-ref ref="MongoDb"/>
    </logger>

</configuration>